<ion-content [fullscreen]="true">
  <ion-grid style="padding: 0 !important;">
    <ion-row>
      <ion-col size="12" class="main">
        <h5>Attendance</h5>
      </ion-col>
      <ion-col size="10" offset="1" style="margin-top: 20%;">
        <ion-label>Enter course Attendance ID</ion-label>
        <ion-input type="text"></ion-input>
      <ion-router-link href="/take-attendance"><ion-button expand="block" class="btn-1">View Course </ion-button></ion-router-link>
    </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button href="/attendance">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>Attendance</ion-label>
      </ion-tab-button>
  
      <ion-tab-button href="/course">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Course</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>
