<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1" class="main">
        <img src="assets/avatar.png">
        <h5>Welcome Adewale</h5>       
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button href="/attendance">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>Attendance</ion-label>
      </ion-tab-button>
  
      <ion-tab-button href="/view-course">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Course</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
