<ion-content [fullscreen]="true">
  <ion-grid style="padding: 0 !important;">
    <ion-row>
      <ion-col size="12" class="main">
        <h5>View Course</h5>
      </ion-col>
      <ion-col size="10" offset="1" style="margin-top: 20%;" class="body-content">
        <p>Course Code</p>
        <h6>COM 101</h6>
        <p>Course Title</p>
        <h6>Introduction to computer science</h6>
        <p>Lecturer Name</p>
        <h6>Adewale Olawale</h6>
        <p>Subject Name</p>
        <h6>Anatomy of Computer</h6>
      <ion-router-link href="/attendance-status" class="btn-1" ><ion-button expand="block" >View Course </ion-button></ion-router-link>
    </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button href="/attendance">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>Attendance</ion-label>
      </ion-tab-button>
  
      <ion-tab-button href="/course">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Course</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>
