ion-content{
  --background: #04AB3D;
  .main{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    img{
      margin: 0 auto;
      display: block;
    }
    h5{
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
    .btn-1{
      margin-top: 40%;
    }
    ion-button{
      --background: #DBBD1F;
      margin-bottom: 15px;
    }
  }
}