<ion-content [fullscreen]="true">
  <ion-grid style="padding: 0 !important;">
    <ion-row>
      <ion-col size="12" class="main">
        <h5>Courses</h5>
      </ion-col>
      <ion-col size="12" class="body">
        <ion-row class="body-content">
          <ion-col size="2">
            <img src="assets/logo.png" alt="">
          </ion-col>
          <ion-col size="10">
            <h6>com 103</h6>
            <p>Introduction to Computer Science</p>
          </ion-col>
        </ion-row>
        <ion-row class="body-content">
          <ion-col size="2">
            <img src="assets/logo.png" alt="">
          </ion-col>
          <ion-col size="10">
            <h6>com 103</h6>
            <p>Introduction to Computer Science</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button href="/attendance">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>Attendance</ion-label>
      </ion-tab-button>
  
      <ion-tab-button href="/course">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Course</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>
